<%= render 'photos/photo' %>

<div class="uploader-button">
  <div id="uploader" class="uploader btn ">
    <i class="icon-upload icon-white"></i> Upload files
  </div>
</div>

<div class="spinner"></div>
<div class="photos"></div>

