
<script type="text/javascript">
  window.tags = <%= raw @tags.to_json %>
  window.photos = <%= raw @photos.to_json %>
</script>

<%= render 'photos/photo_teaser' %>
<%= render 'tags/tag_js' %>

<div class="search">
  <div class="input-list">
    <ul class="tags-in-use token-input-list-facebook">
    </ul>
  </div>
  <div class="filters">
    <div class="tags"><i class="icon-tags"></i></div>
  </div>
</div>
<ul class="available-tags token-input-list-facebook">
</ul>

<div class="photos photos-index"></div>
